<div class="flex flex-col h-dvh justify-center">
  <div class="flex flex-col lg:flex-row justify-between items-center my-10 lg:mx-10 xl:mx-20 2xl:mx-28">
    <h1 class="text-4xl font-bold">PARMAGEDDON</h1>
    <%= image_tag asset_url("parma.png"), class: "w-3/4 max-w-xs sm:max-w-xs md:max-w-sm my-4" %>
    <h2 class="text-lg">Find a Parma that's right for you.</h2>
  </div>
  <div data-controller="google-maps">
    <div id="map" class="w-full h-60" data-google-maps-target="mapDiv" data-markers="<%= @markers.to_json %>">
    </div>
  </div>
  <div class="flex flex-col justify-between items-center bg-white py-10 my-10" data-controller="toggle-index-search">
    <h2 class="font-bold my-1">Submit a rating!</h2>
    <%= button_tag "Search for a venue", type: "button", data: { action: "click->toggle-index-search#toggleVenueSearch", toggle_index_search_target: "venueButton" } %>
    <%= form_with url: venues_path, method: :get do |form| %>
      <div class="hidden justify-center items-center" data-toggle-index-search-target="venueInput">
        <%= form.text_field :venue, placeholder: "Enter venue name", class: "block w-60 px-2 py-1 text-sm text-center bg-gray-50 border-gray-300 focus:outline-none focus:ring-gray-600 focus:border-gray-800 rounded-md" %>
        <%= form.submit "GO", class: "text-white bg-gray-600 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-4 py-2 ml-2 focus:outline-none" %>
      </div>
    <% end %>
    <h2 class="font-bold my-1">OR..</h2>
    <%= button_tag "Browse ratings by venue", type: "button", data: { action: "click->toggle-index-search#toggleLocationSearch", toggle_index_search_target: "locationButton" } %>
    <%= form_with url: venues_path, method: :get do |form| %>
      <div class="hidden justify-center items-center" data-toggle-index-search-target="locationInput">
        <%= form.text_field :location, placeholder: "Enter location (suburb etc)", class: "block w-60 px-2 py-1 text-sm text-center bg-gray-50 border-gray-300 focus:outline-none focus:ring-gray-600 focus:border-gray-800 rounded-md" %>
        <%= form.submit "GO", class: "text-white bg-gray-600 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-4 py-2 ml-2 focus:outline-none" %>
      </div>
    <% end %>
  </div>
</div>
