<div class="h-full flex flex-col font-['Open_Sans'] text-saffron-mango-900 px-2">
  <div class="py-2">
    <h1 class="text-2xl font-semibold"><%= @venue.name %></h1>
    <div class="w-1/4 h-1 py-2 ml-2 border-b-2 border-saffron-mango-950"></div>
  </div>
  <div class="flex flex-col" data-venue-details-target="ratingsDiv">
    <ul class="flex flex-col items-end text-2xl py-1 mt-4">
      <li class="flex justify-end items-center border-b border-saffron-mango-950 w-48 pb-2">
        <p class="font-bold">MEAT</p>
        <span class="material-symbols-sharp !font-bold !text-3xl ml-2 mr-5">
          star
        </span>
        <%= @venue.chicken_rating_average %>
      </li>
      <li class="flex justify-end items-center border-b border-saffron-mango-950 w-48 py-2">
        <p class="font-bold">CRUMB</p>
        <span class="material-symbols-sharp !font-bold !text-3xl ml-2 mr-5">
          star
        </span>
        <%= @venue.crumb_rating_average %>
      </li>
      <li class="flex justify-end items-center border-b border-saffron-mango-950 w-48 py-2">
        <p class="font-bold">TOPPING</p>
        <span class="material-symbols-sharp !font-bold !text-3xl ml-2 mr-5">
          star
        </span>
        <%= @venue.topping_rating_average %>
      </li>
      <li class="flex justify-end items-center border-b border-saffron-mango-950 w-48 py-2">
        <p class="font-bold">SIDES</p>
        <span class="material-symbols-sharp !font-bold !text-3xl ml-2 mr-5">
          star
        </span>
        <%= @venue.sides_rating_average %>
      </li>
      <li class="flex justify-end items-center w-48 pt-2">
        <p class="font-bold">VENUE</p>
        <span class="material-symbols-sharp !font-bold !text-3xl ml-2 mr-5">
          star
        </span>
        <%= @venue.venue_rating_average %>
      </li>
    </ul>
    <div class="flex justify-between items-center text-2xl border-y border-saffron-mango-950 mt-6 pl-2 pb-2 pt-2">
      <div class="flex justify-between items-center">
        <p>
          <p class="font-bold">TOTAL</p>
          <span class="material-symbols-sharp !font-bold !text-3xl ml-2 mr-5">
            star
          </span>
          <%= @venue.total_rating_average %></strong>
        </p>
      </div>
      <div>
        <p>Rated <%= @venue.ratings.count %> times</p>
      </div>
    </div>
  </div>
</div>
