<div class="lg:w-full lg:flex lg:flex-col lg:box-border" data-controller="fetch-nearby-venues" data-fetch-nearby-venues-apikey-value=<%= ENV.fetch('GMAPS_GEO_API_KEY') %>>
  <div data-fetch-nearby-venues-target="spinner" style="display: none;" class="loader absolute inset-0 flex items-center justify-center z-50">
    <div class="w-12 h-12 border-4 border-t-4 border-t-blue-500 border-gray-300 rounded-full animate-spin"></div>
  </div>
  <div data-fetch-nearby-venues-target="mainDiv">
    <div class="lg:w-full flex flex-col justify-between items-center py-2 mb-2 bg-saffron-mango-50" data-controller="toggle-index-search">
      <h2 class="font-bold">Search by:</h2>
      <div class="flex justify-center items-center my-1">
        <%= form_with url: venues_path, method: :get, local: true, data: { action: "submit->fetch-nearby-venues#search" } do |form| %>
          <div class="flex justify-center items-center my-1">
            <%= form.radio_button :select, "venue", checked: true, class: "w-4 h-4 text-saffron-mango-600 bg-saffron-mango-100 border-saffron-mango-400 focus:ring-saffron-mango-500 focus:ring-2 mx-2",
              data: { action: "click->toggle-index-search#showVenue" } %>
            <%= form.label :select_venue, "Venue", class: "mr-2" %>
            <%= form.radio_button :select, "location", class: "w-4 h-4 text-saffron-mango-600 bg-saffron-mango-100 border-saffron-mango-400 focus:ring-saffron-mango-500 focus:ring-2 mx-2",
              data: { action: "click->toggle-index-search#showLocation" } %>
            <%= form.label :select_location, "Location" %>
            <%= form.radio_button :all, "all", class: "w-4 h-4 text-saffron-mango-600 bg-saffron-mango-100 border-saffron-mango-400 focus:ring-saffron-mango-500 focus:ring-2 mx-2",
              data: { action: "click->toggle-index-search#showAll", fetch_nearby_venues_target: "allInput" } %>
            <%= form.label :select_all, "Show all" %>
          </div>
          <div class="flex justify-center md:w-full">
            <%= form.text_field :venue, placeholder: "Enter venue name", class: "block w-60 lg:w-80 px-2 py-1 text-sm text-center bg-saffron-mango-50 active:bg-saffron-mango-50 border-saffron-mango-300 focus:outline-none focus:ring-saffron-mango-600 focus:border-saffron-mango-800 rounded-md",
            data: { toggle_index_search_target: "venue", fetch_nearby_venues_target: "venueInput" } %>
            <%= form.text_field :location, placeholder: "Enter suburb or postcode, etc", class: "hidden w-60 lg:w-80 px-2 py-1 text-sm text-center bg-saffron-mango-50 active:bg-saffron-mango-50 border-saffron-mango-300 focus:outline-none focus:ring-saffron-mango-600 focus:border-saffron-mango-800 rounded-md",
            data: { toggle_index_search_target: "location", fetch_nearby_venues_target: "locationInput" } %>
            <%= form.submit "GO", class: "transition ease-in-out duration-300 text-white bg-saffron-mango-600 hover:bg-saffron-mango-800 focus:ring-4 focus:ring-saffron-mango-300 font-medium rounded-lg text-xs px-4 py-2 ml-2 focus:outline-none" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="relative shadow-md overflow-x-auto rounded-sm">
      <table class="w-full text-sm text-left text-saffron-mango-600" data-controller="table-sort">
        <thead class="text-xs text-saffron-mango-700 uppercase bg-saffron-mango-50">
          <tr>
            <th scope="col" class="cursor-pointer text-xs text-left px-3 py-1.5" data-action="click->table-sort#sort" data-column="venue">Venue<span class="ml-2"></span></th>
            <th scope="col" class="cursor-pointer text-xs text-left px-3 py-1.5" data-action="click->table-sort#sort" data-column="location">Location<span class="ml-2"></span></th>
            <th scope="col" class="cursor-pointer text-xs text-right px-3 py-1.5" data-action="click->table-sort#sort" data-column="price">Price<span class="ml-2"></span></th>
            <th scope="col" class="cursor-pointer text-xs text-right px-3 py-1.5 lg:pr-8" data-action="click->table-sort#sort" data-column="rating">Rating<span class="ml-2"></span></th>
          </tr>
        </thead>
        <tbody data-table-sort-target="tableBody" data-fetch-nearby-venues-target="tableBody">
          <% if @venues.any? %>
            <% @venues.each do |venue| %>
              <tr class="odd:bg-white even:bg-saffron-mango-50 border-b">
                <td scope="row" data-column="venue" class="px-3 py-2 font-medium text-saffron-mango-900 text-xs"><%= link_to venue.name, venue_path(venue) %></td>
                <td scope="row" data-column="location" class="px-3 py-2 font-medium text-saffron-mango-900 text-xs"><%= venue.suburb %></td>
                <td scope="row" data-column="price" class="px-3 py-2 font-medium text-saffron-mango-900 text-xs text-right"><%= venue.price_average > 0 ? number_to_currency(venue.price_average) : "-" %></td>
                <td scope="row" data-column="rating" class="px-3 py-2 lg:pr-8 font-medium text-saffron-mango-900 text-xs text-right"><%= venue.total_rating_average %></td>
              </tr>
            <% end %>
          <% else%>
            <tr class="odd:bg-white even:bg-saffron-mango-50 border-b">
              <td colspan="4" class="px-3 py-2 font-medium text-saffron-mango-900 text-xs">No venues match your search.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="flex justify-center my-3">
      <p class="text-xs text-saffron-mango-900"><em>Can't find what you're looking for? Try searching on the <%= link_to "map", root_path, class: "text-saffron-mango-700 underline" %></em></p>
    </div>
  </div>
</div>
