<div class="flex flex-col w-full h-full" data-controller="venue-details">
  <turbo-frame id="venue-details" data-turbo-action="replace">
    <turbo-frame id="ratings-frame">
      <%= render "venues/ratings", venue: @venue %>
    </turbo-frame>
    <turbo-frame id="details-frame">
    </turbo-frame>
    <turbo-frame id="submit-rating-frame">
    </turbo-frame>
  </turbo-frame>
  <div class="flex justify-between mt-auto py-3 mx-4">
    <div class="flex justify-between ml-3">
      <%= button_to "Ratings", venue_path(@venue, section: 'ratings'), data: { turbo_frame: "ratings-frame" }, method: :get, class: "transition ease-in-out duration-300 bg-transparent hover:bg-saffron-mango-600 text-saffron-mango-700 text-lg font-semibold hover:text-white py-1 px-2 mr-2 border border-saffron-mango-600 hover:border-transparent rounded" %>
      <%= button_to "Details", venue_path(@venue, section: 'details'), data: { turbo_frame: "details-frame" }, method: :get, class: "transition ease-in-out duration-300 bg-transparent hover:bg-saffron-mango-600 text-saffron-mango-700 text-lg font-semibold hover:text-white py-1 px-2 mr-2 border border-saffron-mango-600 hover:border-transparent rounded" %>
    </div>
    <%= button_to "Submit Rating", venue_path(@venue, section: 'submit_rating'), data: { turbo_frame: "submit-rating-frame" }, method: :get, class: "transition ease-in-out duration-300 bg-transparent hover:bg-saffron-mango-600 text-saffron-mango-700 text-lg font-semibold hover:text-white py-1 px-2 mr-2 border border-saffron-mango-600 hover:border-transparent rounded" %>
  </div>
  <div class="w-full h-[380px] flex flex-col relative" data-controller="google-maps">
    <%= button_tag "Search here", class: "transition ease-in-out duration-300 bg-transparent z-50 absolute top-2 left-2 hover:bg-saffron-mango-600 text-saffron-mango-700 text-sm font-semibold hover:text-white py-1 px-2 mr-2 border border-saffron-mango-600 hover:border-transparent rounded", data: { action: "click->google-maps#centerMap" } %>
    <div class="loader-venue" data-google-maps-target="loaderDiv"></div>
    <div id="map" class="flex justify-center items-center w-full h-[400px] opacity-50" data-google-maps-target="mapDiv"></div>
  </div>
</div>
